* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;

  background-color: rgb(25 25 112);
}

p {
  font-size: 20px;
}

header h4 {
  padding: 20px;
  color: white;
  font-size: 1.5em;
}

.grid-container {
  display: grid;
  grid: 150px / auto auto auto;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  grid-gap: 10px;
  background-color: gray;
  padding: 5px;
  min-height: 0; /* NEW */
  min-width: 0;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid: 150px / auto;
    grid-gap: 10px;
    background-color: gray;
    padding: 5px;
  }
}

.grid-container div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: center;
}

.modal {
  position: fixed;
  left: 3%;
  width: 94%;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: gray;
  background-color: white;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  border-radius: 10px;
  padding: 15px;
}

.addBtn {
  border-radius: 10px;
  height: 50px;
  width: 300px;
}

input {
  width: 100%;
  height: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.hidden {
  display: none;
}

.task-item img {
  height: 30px;
  padding-top: 3px;
  padding-left: 20px;
}

.task-item {
  background-color: red;
  border: solid;
  border-style: groove;
  border-radius: 10px;
  border-color: lightcoral;
}
